<form (ngSubmit)="onSubmit()" class="space-y-6 items-center max-w-lg mx-auto mt-20 text-[#232946] border border-[#232946]/50 p-6 rounded-lg shadow-lg">
    <div class="text-center text-3xl font-bold mb-4">Health Tracker App</div>
    <div>
      <label for="userName" class="block text-lg font-medium">User Name</label>
      <input id="userName" formControlName="userName" type="text" class="mt-1 block w-4/5 mx-auto rounded-md border custom-border bg-transparent custom-text-color focus:border-indigo-500 focus:ring-indigo-500 sm:text-lg p-3">
    </div>
    <div>
      <label for="workoutType" class="block text-lg font-medium">Workout Type</label>
      <input id="workoutType" formControlName="workoutType" type="text" class="mt-1 block w-4/5 mx-auto rounded-md border custom-border bg-transparent custom-text-color focus:border-indigo-500 focus:ring-indigo-500 sm:text-lg p-3">
    </div>
    <div>
      <label for="minutes" class="block text-lg font-medium">Minutes</label>
      <input id="minutes" formControlName="minutes" type="number" class="mt-1 block w-4/5 mx-auto rounded-md border custom-border bg-transparent custom-text-color focus:border-indigo-500 focus:ring-indigo-500 sm:text-lg p-3">
    </div>
    <button type="submit" [disabled]="workoutForm.invalid" class="mt-4 inline-flex items-center px-6 py-3 border custom-border border-transparent text-lg font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Add Workout
    </button>
  </form>
  