/* You can add global styles to this file, and also import other style files */
@import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.custom-border {
    border-color: #232946 !important;
  }
  
  .custom-text-color {
    color: #232946;
  }